<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Skriv dit navn</h1>
<form action="/typePlayer1" method="post">
    <td>Player name</td><td><input type="text" name="playerName"></td>
    <input type="hidden" name="ones" value="-">
    <input type="hidden" name="twos" value="-">
    <input type="hidden" name="threes" value="-">
    <input type="hidden" name="fours" value="-">
    <input type="hidden" name="fives" value="-">
    <input type="hidden" name="sixes" value="-">
    <input type="hidden" name="onePair" value="-">
    <input type="hidden" name="twoPair" value="-">
    <input type="hidden" name="threePair" value="-">
    <input type="hidden" name="threeOfAKind" value="-">
    <input type="hidden" name="fourOfAKind" value="-">
    <input type="hidden" name="twoXThree" value="-">
    <input type="hidden" name="littleStraight" value="-">
    <input type="hidden" name="mediumStraight" value="-">
    <input type="hidden" name="royaleStraight" value="-">
    <input type="hidden" name="fullHouse" value="-">
    <input type="hidden" name="chance" value="-">
    <input type="hidden" name="yatzy" value="-">
    <button type="submit">Klar!</button>
</form>

</body>
</html>