<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Skriv dit navn</h1>
<form action="/typePlayer1" method="post">
    <td>Player name</td><td><input type="text" name="playerName"></td>
    <input type="hidden" name="ones" value="0">
    <input type="hidden" name="twos" value="0">
    <input type="hidden" name="threes" value="0">
    <input type="hidden" name="fours" value="0">
    <input type="hidden" name="fives" value="0">
    <input type="hidden" name="sixes" value="0">
    <input type="hidden" name="sum" value="0">
    <input type="hidden" name="bonus" value="0">
    <input type="hidden" name="onePair" value="0">
    <input type="hidden" name="twoPair" value="0">
    <input type="hidden" name="threePair" value="0">
    <input type="hidden" name="threeOfAKind" value="0">
    <input type="hidden" name="fourOfAKind" value="0">
    <input type="hidden" name="twoXThree" value="0">
    <input type="hidden" name="littleStraight" value="0">
    <input type="hidden" name="mediumStraight" value="0">
    <input type="hidden" name="royaleStraight" value="0">
    <input type="hidden" name="fullHouse" value="0">
    <input type="hidden" name="chance" value="0">
    <input type="hidden" name="yatzy" value="0">
    <input type="hidden" name="total" value="0">
    <button type="submit">Klar!</button>
</form>

</body>
</html>